<section class="section">
    <header class="mb-2 is-flex is-flex-direction-row is-justify-content-space-between">
        <h2 class="title is-4">Lista de Categorias</h2>
        <a href="/admin/categories/add"><button class="button is-primary">Nova Categoria</button></a>
    </header>
    <main class="columns is-multiline is-mobile">
        {{#each categories}}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content is-flex is-flex-direction-column">
                            <h3 class="title is-5 is-capitalized">{{name}}</h3>
                            <small class="subtitle is-6 is-lowercase">{{slug}}</small>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/categories/edit/{{_id}}" class="card-footer-item p-0">
                            <button class="button is-link is-small">Editar</button>
                        </a>
                        <a href="/admin/categories/delete/{{_id}}" class="card-footer-item p-0">
                            <button class="button is-danger is-small">Excluir</button>
                        </a>
                    </div>
                </div>
            </div>
        {{else}}
            <h3 class="title is-5 pt-5">Nenhuma categoria encontrada</h3>
        {{/each}}
    </main>
</section>